{% extends "layout.html" %}

{% block title %}SAXS Merge Help{% endblock %}

{% block body %}
<h1>Help</h1>

<div align="left">

<h5>Just give it a try!</h5>
<p>To run SAXS Merge on a set of SAXS profiles, just upload them in the
provided boxes. We tried to find the best parameters for the merge, so you
should just go ahead, provide an optional email address and hit the submit button.
We will not use your email for any other purpose other than job feedback. We
also provide an example output for you to try (see link above).
</p> 

<p> When performing the merge, you will always obtain at least three files</p>
<ul>
 <li> <i>data_merged.dat</i> The merged SAXS profile, in 3 column format.
 <li> <i>mean_merged.dat</i> The Gaussian Process Interpolation of this
 profile. The fourth column (if displayed) is the parametric mean function.
 <li> <i>summary.txt</i> The description of the merging process. Here you will
 find all useful information pertaining to this dataset, notably the fitted
 parameters, if SAXS Merge decided to show them. If, for example, you don't
 see the radius of gyration, it means that SAXS Merge has judged that the
 information content of this profile is too low. To force the calculation,
 disable model comparison in the advanced options, and choose a parameter set
 different from "Flat".
</ul>

<h5>Output columns</h5>
<p>Here is the description of each column in the output files. If you don't
see a column, increase the output level in the advanced options. If you don't
know which column is which, check the box to print the header in the first
line of each file.</p>
<ol>
 <li> Cleanup
  <ul>
   <li> <b>agood</b> 1 if the point was accepted (SNR is high enough), 0 if it was rejected
   <li> <b>apvalue</b> the p-value of this test
  </ul>
 <li> Fitting
  <ul>
   <li> No output flags
  </ul>
 <li> Rescaling
  <ul>
   <li> <b>cgood</b>  1 if data point is both valid (wrt SNR) and in the
                      validity domain of the gamma reference curve
                      (usually the last curve)
  </ul>
 <li> Classification
  <ul>
   <li> <b>drefnum</b> number of the reference profile for this point
   <li> <b>drefname</b> associated filename
   <li> <b>dgood</b> 1 if this point is compatible with the reference and
                     0 otherwise. Undefined if 'agood' is 0 for that point.
   <li> <b>dselfref</b> 1 if this curve was it's own reference, in which
                    case dgood is also 1
   <li> <b>dpvalue</b> p-value for the classification test
  </ul>
 <li> Merging
  <ul>
   <li> <b>eorigin</b> profile index from which this point originates
   <li> <b>eoriname</b> associated filename
   <li> <b>eextrapol</b> 1 if mean function is being extrapolated.
  </ul>
</ol>

<h5>Number of times each profile has been recorded</h5>
<p>A SAXS profile is constructed by averaging over multiple runs. If some
profiles have a different number of runs than others, use the smallest
number</p>

<h5>Output data for parsed input files as well</h5>
<p>If you want to have more information than just the merge of the input
files, check this box. In that case, you will get two output files per input
file, starting with "data_" and "mean_". These files contain the rescaled and
annotated input data, and the Gaussian Process Interpolation respectively. In
addition to these files, some extra diagnostics plots are displayed in the
results section.</p>

</div>
{% endblock %}
